<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tickets_asignados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tickets_asignados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let t of tickets">
    <ion-card-header>
      <ion-card-title>
      <ion-label>{{t["fecha_creado"]}} - {{t["hora_creado"]}}</ion-label><ion-button (click)="finalizar_ticket(t['id_turno'])">Completar</ion-button>
      </ion-card-title>
      <ion-card-subtitle>Aula : {{t["aula"]}}                Dispositivo : {{t["dispositivos"]}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>Descripcion: {{t["descripcion"]}}</ion-label>
    </ion-card-content>
  
    

  </ion-card>




</ion-content>
