<ion-menu contentId="main-content">
  <ion-header>
    
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="/tickets-asignados/{{cuenta}}">Mis tickets</a>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true">
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    
    <ion-title>tecnico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
     
      <ion-title size="large">tecnico</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card *ngFor="let t of tickets">
    <ion-card-header>
      <ion-card-title>
      <ion-label>{{t["fecha_creado"]}} - {{t["hora_creado"]}}</ion-label><ion-button (click)="asignar(t['id_turno'])">Asignar</ion-button>
      </ion-card-title>
      <ion-card-subtitle>Aula : {{t["aula"]}}                Dispositivo : {{t["dispositivos"]}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>Descripcion: {{t["descripcion"]}}</ion-label>
    </ion-card-content>
  
    

  </ion-card>



</ion-content>

