<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesiòn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesiòn</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-input [(ngModel)]="email" class="custom" label="Email" label-placement="floating"   placeholder="Ingrese su email"></ion-input>

<br/>

<ion-input [(ngModel)]="clave" class="custom"  label="Contraseña" label-placement="floating"  type="password" fill="outline" placeholder="Ingrese su Contraseña"></ion-input>



<ion-item>
  <ion-text color="danger"> {{msjErrorLogin}} </ion-text>
  <ion-button (click)="iniciar_sesion()" style="margin-top: 10%; margin-left: 35%;" color="success">Continuar</ion-button>

</ion-item>


</ion-content>
