<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profesor</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="aula" aria-label="fruit" placeholder="Seleccionar curso:">
        <ion-select-option value="1a">1ºA</ion-select-option>
        <ion-select-option value="1b">1ºB</ion-select-option>
        <ion-select-option value="2a">2ºA</ion-select-option>
        <ion-select-option value="2b">2ºB</ion-select-option>
        <ion-select-option value="3a">3ºA</ion-select-option>
        <ion-select-option value="3b">3ºB</ion-select-option>
        <ion-select-option value="4a">4ºA</ion-select-option>
        <ion-select-option value="4b">4ºB</ion-select-option>
        <ion-select-option value="5a">5ºA</ion-select-option>
        <ion-select-option value="5b">5ºB</ion-select-option>
        <ion-select-option value="6a">6ºA</ion-select-option>
        <ion-select-option value="6b">6ºB</ion-select-option>
        <ion-select-option value="7b">7ºB</ion-select-option>
        <ion-select-option value="laboratorio">Laboratorio</ion-select-option>
        <ion-select-option value="aula07">Aula 07</ion-select-option>
        <ion-select-option value="aula08">Aula 08</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="dispositivos" aria-label="fruit" placeholder="Seleccionar dispositivo:">
        <ion-select-option value="pc1">PC: 01</ion-select-option>
        <ion-select-option value="pc2">PC: 02</ion-select-option>
        <ion-select-option value="pc3">PC: 03</ion-select-option>
        <ion-select-option value="pc4">PC: 04</ion-select-option>
        <ion-select-option value="pc5">PC: 05</ion-select-option>
        <ion-select-option value="pc6">PC: 06</ion-select-option>
        <ion-select-option value="pc7">PC: 07</ion-select-option>
        <ion-select-option value="pc8">PC: 08</ion-select-option>
        <ion-select-option value="pc9">PC: 09</ion-select-option>
        <ion-select-option value="pc10">PC: 10</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-textarea [(ngModel)]="descripcion" label="Notificar problema" labelPlacement="stacked" placeholder="Escribir texto"></ion-textarea>
  </ion-item>


  <ion-button (click)="EnviarDatos()" color="success">Enviar</ion-button>
  <ion-button (click)="HacerAlgo()" color="success">Prueba aparte</ion-button>





</ion-content>